<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.estore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".activity.myappliction.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/erhuo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ListViewActivity" />
        <activity android:name=".activity.ViewPagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddProActivity" />
        <activity android:name=".activity.ProductInfoActivity" />
        <activity android:name=".activity.MyPullToRefreshListView" />
        <activity android:name=".activity.PaimaiMainActivity" />
        <activity android:name=".activity.PaimaiMain_infoActivity" />
        <activity android:name=".activity.UploadAuctMainActivity" />
        <activity android:name=".activity.ProOrderActivity" />
        <activity android:name=".activity.SystemInformActivity" />
        <activity android:name=".activity.AuctionDetialItemActivity" />
        <activity android:name=".activity.MyAuctionActivity" />
        <activity android:name=".activity.PersonalSettingActivity" />
        <activity android:name=".activity.MyFriendsActivity" />
        <activity android:name=".activity.MyOrderActivity" />
        <activity android:name=".activity.MyCareActivity" />
        <activity android:name=".activity.MyIntercalateActivity" />
        <activity android:name=".activity.MyWalletActivity" />
        <activity android:name=".activity.PublishActivity" />
        <activity android:name=".activity.PublishEstoreDetialItemActivity" />
        <activity android:name=".activity.PublishAuctionDetialItemActivity" />
        <activity android:name=".activity.PaiMaiMain_bidding" />
        <activity android:name=".activity.AddessListActivity" />
        <activity android:name=".activity.AddressSelector" />
        <activity android:name=".activity.LoginOther" />
        <activity android:name=".activity.EdtAddressActivity" />
        <activity android:name=".activity.ModifyMyAddProductActivity" />
        <activity android:name=".activity.MainComputerActivity" />
        <activity android:name=".activity.PaiMAIbidding_bidActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/customTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/customTheme" />
        <activity android:name=".activity.EnvaluteActivity" />
        <activity android:name=".activity.EnvaluteStoreActivity" />
        <activity android:name=".activity.PhoneActivity" />
        <activity android:name=".activity.PersonComputerActivity"></activity>
        <activity android:name=".activity.WatchActivity"></activity>
    </application>

</manifest>