<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.estore.activity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".myappliction.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/erhuo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".ViewPagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SchoolActivity" />
        <activity android:name=".SameCityActivity" />
        <activity android:name=".AddProActivity" >

        </activity>
        <activity android:name=".AuctionActivity" />
        <activity android:name=".SellActivity" />
        <activity android:name=".ProductInfoActivity" />
        <activity android:name=".MyPullToRefreshListView" />
        <activity android:name=".PaimaiMainActivity" />
        <activity android:name=".PaimaiMain_infoActivity" />
        <activity android:name=".UploadAuctMainActivity" />
        <activity android:name=".ProOrderActivity" />
        <activity android:name=".SystemInformActivity" />
        <activity android:name=".AuctionDetialItemActivity" />
        <activity android:name=".MyAuctionActivity" />
        <activity android:name=".PersonalSettingActivity" />
        <activity android:name=".MyFriendsActivity" />
        <activity android:name=".MyOrderActivity" />
        <activity android:name=".MyCareActivity" />
        <activity android:name=".MyIntercalateActivity" />
        <activity android:name=".MyWalletActivity" />
        <activity android:name=".PublishActivity" />
        <activity android:name=".PublishEstoreDetialItemActivity" />
        <activity android:name=".PublishAuctionDetialItemActivity" />
        <activity android:name=".PaiMaiMain_bidding" />
        <activity android:name=".AddessListActivity" />
        <activity android:name=".AddressSelector"></activity>
    </application>

</manifest>