<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.estore.activity">


    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="21" />
    <permission
        android:name="com.estore.myapplication.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.estore.myapplication.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".myappliction.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/erhuo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".ViewPagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".AddProActivity" />
        <activity android:name=".ProductInfoActivity" />
        <activity android:name=".MyPullToRefreshListView" />
        <activity android:name=".PaimaiMainActivity" />
        <activity android:name=".PaimaiMain_infoActivity" />
        <activity android:name=".UploadAuctMainActivity" />
        <activity android:name=".ProOrderActivity" />
        <activity android:name=".SystemInformActivity" />
        <activity android:name=".AuctionDetialItemActivity" />
        <activity android:name=".MyAuctionActivity" />
        <activity android:name=".PersonalSettingActivity" />
        <activity android:name=".MyFriendsActivity" />
        <activity android:name=".MyOrderActivity" />
        <activity android:name=".MyCareActivity" />
        <activity android:name=".MyIntercalateActivity" />
        <activity android:name=".MyWalletActivity" />
        <activity android:name=".PublishActivity" />
        <activity android:name=".PublishEstoreDetialItemActivity" />
        <activity android:name=".PublishAuctionDetialItemActivity" />
        <activity android:name=".PaiMaiMain_bidding" />
        <activity android:name=".AddessListActivity" />
        <activity android:name=".AddressSelector" />
        <activity android:name=".LoginOther" />
        <activity android:name=".EdtAddressActivity" />
        <activity android:name=".ModifyMyAddProductActivity" />
        <activity android:name=".MainComputerActivity" />
        <activity android:name=".PaiMaiAll" />
        <activity android:name=".PaiMAIbidding_bidActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/customTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/customTheme" />
        <activity android:name=".EnvaluteActivity" />
        <activity android:name=".EnvaluteStoreActivity" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
          android:name=".JpushSystemInform"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.estore.myapplication" />
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="e258308bd0d78c6ecfc3aff1" /> <!--  </>值来自开发者平台取得的AppKey-->
    </application>

</manifest>